<header class="header container">
    <h1 class="header__title">
      <a href="/">Marie Thompson</a>
    </h1>
    <ul class="header__links">
      <li>
        <a class="header__link" href="#">About</a>
      </li>
      <li>
        <a class="header__link" href="#">Projects</a>
      </li>
      <li>
        <a class="header__link" href="#">Contact</a>
      </li>
    </ul>
</header>