<section class="profile">
  <div class="profile__image-wrapper">
    <img class="profile__image" src="/images/profile.jpg" alt="">
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Marie</span>, a mathematician turned software developer from Hampton, Virginia.</p>
    <p class="profile__text">I'm a <span class="profile__text--highlight">Frontend Developer</span> who loves building sites and apps that help people reach their personal and professional goals.</p>
    <p class="profile__text">I'm always open to new opportunities and projects. So don't hesitate to <a class="profile__link" href="/contact">get in touch</a><p>
    <p class="profile__text">I focus on speed, security and scalability, creating rich, dynamic experiences using modern JavaScript frameworks, (especially React.js) and services like Firebase, Airtable and Supabase.</p>
    <p class="profile__text">Tech I love to work with</p>
    
    <div class="profile__logos">
      <div class="has-tooltip">
        <img class="profile__logo" src="/images/javascript.svg" alt="JavaScript">
        <span class="tooltip">JavaScript</span>
      </div>
      <div class="has-tooltip">
        <img class="profile__logo" src="/images/react.svg" alt="React.js">
        <span class="tooltip">React.js</span>
      </div>
      <div class="has-tooltip">
        <img class="profile__logo" src="/images/tailwindcss.svg" alt="Tailwind CSS">
        <span class="tooltip">Tailwind CSS</span>
      </div>
      <div class="has-tooltip">
        <img class="profile__logo" src="/images/firebase.svg" alt="Firebase">
        <span class="tooltip">Firebase</span>
      </div>
      <div class="has-tooltip">
        <img class="profile__logo" src="/images/aws-lambda.png" alt="Serverless">
        <span class="tooltip">Serverless</span>
      </div>
    </div>
  </div>
</section>