<section class="projects">
  <h2 class="project__heading">Recent projects</h2>
  <div class="project-grid">
    {% asyncEach project in collections.projects %}
      {% include "project-card.njk" %}
    {% endeach %}
  </div>
</section>